@model IEnumerable<WebApplication1.Models.tai_lieu>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Danh sách tài liệu</h2>
    <div class="row">
        @foreach (var tailieu in Model)
        {
            <div class="col-md-6"><a href="@tailieu.link">@tailieu.ten</a></div>

        }
    </div>
</div>

